<% submit_label =
    if @bookmark.persisted?
      t('.submit_update')
    elsif params[:kind] == 'folder'
      t('.submit_create_folder')
    else
      t('.submit_create_bookmark')
    end
%>
<% show_title_fetch_button =
     !(@bookmark.new_record? && params[:kind] == 'folder') &&
     !(@bookmark.persisted? && @bookmark.url.blank?) %>

<%= form_for @bookmark do |f| %>
  <table>
    <tr>
      <th><%= f.label :url %></th>
      <td>
        <%= f.text_field :url, placeholder: t('.url_placeholder') %>
        <small><%= t('.folder_help') %></small>
      </td>
    </tr>
    <tr>
      <th><%= f.label :title %></th>
      <td>
        <%= f.text_field :title %>
        <% if show_title_fetch_button %>
          <%= f.button t('.fetch_from_url'),
                onclick: 'bookmarks.fetch_title_from_url(this); return false;',
                'data-url': fetch_title_bookmarks_path,
                'data-bookmark-url-required-message': t('.url_required_for_title_fetch'),
                'data-bookmark-title-fetch-failed-message': t('.title_fetch_failed') %>
        <% end %>
        <small><%= t('.title_help') %></small>
      </td>
    </tr>
    <tr>
      <th><%= f.label :parent_id, t('.parent_folder') %></th>
      <td>
        <%= f.select :parent_id, 
            options_for_select(
              [[t('.no_parent'), nil]] +
              (@available_folders || Bookmark.where(user_id: current_user.id, deleted: false).folders.order(:title))
                      .map { |f| [f.title, f.id] },
              @bookmark.parent_id
            ),
            {},
            { id: 'bookmark_parent_id' }
        %>
      </td>
    </tr>
  </table>
  <%= f.submit submit_label %>
<% end %>
