<nav class="breadcrumbs" aria-label="<%= t('.breadcrumbs_aria') %>">
  <ol class="breadcrumbs-list">
    <li class="breadcrumbs-item">
      <%= link_to t('.root'), bookmarks_path, class: 'breadcrumbs-link' %>
      <% unless @parent %>
        <span class="breadcrumbs-item-actions">
          <%= link_to new_bookmark_path(parent_id: nil, kind: 'folder'), class: 'breadcrumbs-action-btn', title: t('.create_folder') do %>
            <span class="breadcrumbs-icon">📁</span><span class="breadcrumbs-label"><%= t('.folder') %></span>
          <% end %>
        </span>
      <% end %>
    </li>
    <% if @parent %>
      <li class="breadcrumbs-item breadcrumbs-current">
        <%= @parent.title %>
      </li>
    <% end %>
    <li class="breadcrumbs-item breadcrumbs-actions">
      <span class="breadcrumbs-item-actions">
        <%= link_to new_bookmark_path(parent_id: @parent_id, kind: 'bookmark'), class: 'breadcrumbs-action-btn', title: t('.add_bookmark') do %>
          <span class="breadcrumbs-icon">🔖</span><span class="breadcrumbs-label"><%= t('.bookmark') %></span>
        <% end %>
      </span>
    </li>
  </ol>
</nav>

<table class="bookmarks-table">
  <thead>
    <tr>
      <th><%= Bookmark.human_attribute_name :title %></th>
      <th><%= Bookmark.human_attribute_name :url %></th>
      <th colspan="2"><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |b| %>
      <tr class="<%= 'folder' if b.folder? %>">
        <td>
          <% if b.folder? %>
            <%= link_to b.title, bookmarks_path(parent_id: b.id), class: 'folder-link' %>
          <% else %>
            <%= link_to b.title, b.url, target: '_blank' %>
          <% end %>
        </td>
        <td>
          <% unless b.folder? %>
            <%= b.url %>
          <% end %>
        </td>
        <td><%= link_to t('actions.edit'), edit_bookmark_path(b) %></td>
        <td>
          <%= link_to t('actions.delete'), bookmark_path(b), method: 'delete', data: { confirm: t('messages.confirm_delete', name: b.title) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
