<div class="actions">
  <%= link_to '追加', new_bookmark_path %>
  <%= link_to 'インポート', new_import_bookmarks_path %>
</div>

<table>
  <tr>
    <th><%= Bookmark.human_attribute_name :title %></th>
    <th colspan="2"></th>
  </tr>
  
  <% @bookmarks.each do |b| %>
    <tr>
      <td><%= link_to b.title, b.url, :target => '_blank' %></td>
      <td>
        <%= link_to '編集', edit_bookmark_path(b) %>
      </td>
      <td>
        <%= link_to '削除', bookmark_path(b), :method => 'delete', :confirm => t('messages.confirm_delete', :name => b.title) %>
      </td>
    </tr>
  <% end %>
</table>
