<nav class="breadcrumbs" aria-label="パンくずリスト">
  <ol class="breadcrumbs-list">
    <li class="breadcrumbs-item">
      <%= link_to 'ルート', bookmarks_path, class: 'breadcrumbs-link' %>
      <% unless @parent %>
        <span class="breadcrumbs-item-actions">
          <%= link_to new_bookmark_path(parent_id: nil), class: 'breadcrumbs-create-folder', title: 'フォルダを作成' do %>
            <span class="breadcrumbs-icon">📁</span><span class="breadcrumbs-label">フォルダ</span>
          <% end %>
        </span>
      <% end %>
    </li>
    <% if @parent %>
      <li class="breadcrumbs-item breadcrumbs-current">
        <%= @parent.title %>
      </li>
    <% end %>
    <li class="breadcrumbs-item breadcrumbs-actions">
      <span class="breadcrumbs-item-actions">
        <%= link_to new_bookmark_path(parent_id: @parent_id), class: 'breadcrumbs-create-bookmark', title: 'ブックマークを追加' do %>
          <span class="breadcrumbs-icon">🔖</span><span class="breadcrumbs-label">ブックマーク</span>
        <% end %>
      </span>
    </li>
  </ol>
</nav>

<table class="bookmarks-table">
  <thead>
    <tr>
      <th><%= Bookmark.human_attribute_name :title %></th>
      <th>URL</th>
      <th colspan="2">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |b| %>
      <tr class="<%= 'folder' if b.folder? %>">
        <td>
          <% if b.folder? %>
            <%= link_to b.title, bookmarks_path(parent_id: b.id), class: 'folder-link' %>
          <% else %>
            <%= link_to b.title, b.url, target: '_blank' %>
          <% end %>
        </td>
        <td>
          <% unless b.folder? %>
            <%= b.url %>
          <% end %>
        </td>
        <td><%= link_to '編集', edit_bookmark_path(b) %></td>
        <td>
          <%= link_to '削除', bookmark_path(b), method: 'delete', data: { confirm: t('messages.confirm_delete', name: b.title) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
