<%= form_for @feed do |f| %>
  <table>
    <tr>
      <th><%= f.label :feed_url %></th>
      <td><%= f.text_field :feed_url, class: 'feed_url' %></td>
    </tr>
    <tr>
      <th><%= f.label :title %></th>
      <td>
        <%= f.text_field :title %>
        <%= f.button t('.fetch_from_feed'),
              onclick: 'feeds.fetch_title(this); return false;',
              'data-url': fetch_title_feeds_path,
              'data-feed-url-required-message': t('.feed_url_required'),
              'data-feed-fetch-failed-message': t('.feed_fetch_failed') %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :display_count %></th>
      <td><%= f.number_field :display_count, class: 'display_count' %></td>
    </tr>
    <tr>
      <td colspan="2"><%= f.submit @feed.new_record? ? t('.submit_create') : t('.submit_update') %></td>
    </tr>
  </table>
<% end %>
