<div class="actions">
  <%= link_to '追加', new_feed_path, 'data-turbolinks': false %>
</div>

<% unless @feeds.present? %>
  <div>1件も登録されていません。</div>
<% else %>
  <table class="feeds">
    <tr>
      <th>サイト名</th>
      <th>表示件数</th>
      <th>フィードURL</th>
      <th colspan="2"></th>
    </tr>
    
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.title %></td>
        <td class="center"><%= feed.display_count %></td>
        <td><div class="feed_url"><%= feed.feed_url %></div></td>
        <td><%= link_to '編集', edit_feed_path(feed) %></td>
        <td><%= link_to '削除', feed_path(feed), :method => 'delete', :confirm => t('messages.confirm_delete', :name => feed.title) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
