<div class="actions">
  <%= link_to '追加', new_tweet_path %>
</div>

<% unless @tweets.present? %>
  <div>1件も登録されていません。</div>
<% else %>
  <table class="tweets">
    <thead>
      <tr>
        <th><%= Tweet.human_attribute_name :twitter_user %></th>
        <th><%= Tweet.human_attribute_name :tweet_id %></th>
        <th><%= Tweet.human_attribute_name :content %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>    
      <% @tweets.each do |t| %>
        <tr>
          <td><%= t.twitter_user_name %></td>
          <td><%= link_to t.tweet_id, tweet_path(t) %></td>
          <td><%= truncate(t.content) %></td>
          <td><%= link_to '削除', tweet_path(t), method: 'delete', data: {confirm: t('messages.confirm_delete', name: t.tweet_id)} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
