<script>
  $(document).ready(function() {
    $.get('<%= feed_path(gadget) %>', {format: 'html'}, function(html) {
      $('#feed_<%= gadget.id %>').html(html);
    })
    .fail(function(xhr, status, error) {
      const container = $('#feed_<%= gadget.id %>');
      container.find('ol li span').first().text(container.data('fetchFailedMessage') + '(' + xhr.status + ')');
    });
  });
</script>

<div id="<%= gadget.gadget_id %>" class="gadget" data-fetch-failed-message="<%= t('.fetch_failed') %>">
  <div>
    <div class="title"><%= gadget.title %></div>
    <ol>
      <li>
        <span style="line-height: <%= gadget.display_count * 1.5 %>em;"><%= t('.loading') %></span>
      </li>
    </ol>
  </div>
</div>
