<script>
  $(document).ready(function() {
    $.get('<%= feed_path(gadget) %>', {format: 'html'}, function(html) {
      $('#feed_<%= gadget.id %>').html(html);
    })
    .fail(function(xhr, status, error) {
      $('#feed_<%= gadget.id %>').find('ol li span').first().text('フィードを取得できませんでした。(' + xhr.responseText + ')'); 
    });
  });
</script>

<div id="<%= gadget.gadget_id %>" class="gadget">
  <div>
    <div class="title"><%= gadget.title %></div>
    <ol>
      <li>
        <span style="line-height: <%= gadget.display_count * 1.5 %>em;">フィードを取得中・・・</span>
      </li>
    </ol>
  </div>
</div>
