<div id="<%= gadget.gadget_id %>" class="gadget">
  <div>
    <div class="title"><%= gadget.title %></div>
    <ol id="<%= gadget.gadget_id %>_messages" class="gmail">
      <li>
        <span style="line-height: <%= gadget.display_count * 2 %>em;">メッセージを取得中・・・</span>
      </li>
    </ol>

    <script>
      $(document).ready(function() {
        var labelNames = [];
        <% gadget.labels.split.each do |l| %>
          labelNames.push('<%= l %>');
        <% end %>

        gmail.listMessages('<%= gadget.gadget_id %>_messages', labelNames, <%= gadget.display_count %>);
      });
    </script>
  </div>
</div>
