<div id="<%= gadget.gadget_id %>" class="gadget todo">
  <script>
    $(document).ready(function() {
      todos.init('#<%= gadget.gadget_id %>');
    });
  </script>

  <div>
    <div class="title"><%= gadget.title %></div>
    <ol data-url_for_new="<%= new_todo_path %>" data-url_for_delete="<%= delete_todos_path %>">
      <%= render 'todos/actions' %>

      <% gadget.entries.each do |todo| %>
        <%= render todo %>
      <% end %>
    </ol>
  </div>
</div>
