<div class="gadgets">
  <% if @bookmarks.present? %>
    <div class="gadget">
      <div>
        <div class="title">Bookmark</div>
        <ol>
          <% @bookmarks.each do |b| %>
            <li><%= link_to b.title, b.url %></li>
          <% end %>
        </ol>
      </div>
    </div>
  <% end %>

  <% if @todos.present? %>
    <div class="gadget todo">
      <div>
        <div class="title">Todo</div>
        <ol>
          <% @todos.each do |t| %>
            <li>
              <span class="<%= "priority_#{t.priority}" %>"><%= t.priority_name %></span>
              <span><%= t.title %></span>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  <% end %>

  <% @feeds.each do |f| %>
    <div class="gadget">
      <div>
        <div class="title"><%= f.title %></div>
        <ol>
          <% f.entries.each_with_index do |e, i| %>
            <% break if i == f.display_count %>
            <li><%= link_to e.title, e.url %></li>
          <% end %>
        </ol>
      </div>
    </div>
  <% end %>
</div>
