<script>
  function collect_portal_layout_params() {
    <% @portal.portal_column_count.times.each do |i| %>
      var column_<%= i %> = new Array();
      $('#column_<%= i %> > div').each(function() {
        column_<%= i %>.push($(this).attr('id'));
      });
    <% end %>

    return {
      'authenticity_token': '<%= form_authenticity_token %>',
      <% @portal.portal_column_count.times.each do |i| %>
        'portal[column_<%= i %>]': column_<%= i %>,
      <% end %>
    };
  }

  $(document).ready(function() {
    $('.gadgets').sortable({
      connectWith: '.gadgets',
      handle: 'div.title',
      start: function() {
        $(this).addClass('dragging')
      },
      stop: function() {
        $(this).removeClass('dragging')
      },
      update: function(event, ui) {
        var params = collect_portal_layout_params();
        $.post('<%= url_for action: 'save_state' %>', params);
      }
    });
  });
</script>

<% if favorite_theme == 'simple' %>
  <% use_note = current_user.preference&.use_note? %>
  <% notes_active = use_note && (params[:tab].to_s == 'notes') %>
  <div id="simple-home-panel" class="simple-tab-panel <%= 'simple-tab-panel--hidden' if notes_active %>">
    <%= render 'portal_column_section', portal_columns: @portal.portal_columns %>
  </div>

  <% if use_note %>
    <div id="notes-tab-panel" class="simple-tab-panel<%= ' simple-tab-panel--hidden' unless notes_active %>" role="tabpanel">
      <%= render 'note_gadget' %>
    </div>
  <% end %>
<% else %>
  <% use_note = current_user.preference&.use_note? %>
  <% notes_active = use_note && (params[:tab].to_s == 'notes') %>
  <div id="welcome-home-panel" class="welcome-tab-panel <%= 'welcome-tab-panel--hidden' if notes_active %>">
    <%= render 'portal_column_section', portal_columns: @portal.portal_columns %>
  </div>

  <% if use_note %>
    <div id="notes-tab-panel" class="welcome-tab-panel<%= ' welcome-tab-panel--hidden' unless notes_active %>" role="tabpanel">
      <%= render 'note_gadget' %>
    </div>
  <% end %>
<% end %>
