<script>
  function collect_portal_layout_params() {
    <% @portal.portal_column_count.times.each do |i| %>
      var column_<%= i %> = new Array();
      $('#column_<%= i %> > div').each(function() {
        column_<%= i %>.push($(this).attr('id'));
      });
    <% end %>

    return {
      'authenticity_token': '<%= form_authenticity_token %>',
      <% @portal.portal_column_count.times.each do |i| %>
        'portal[column_<%= i %>]': column_<%= i %>,
      <% end %>
    };
  }

  $(document).ready(function() {
    $('.gadgets').sortable({
      connectWith: '.gadgets',
      handle: 'div.title',
      start: function() {
        $(this).addClass('dragging')
      },
      stop: function() {
        $(this).removeClass('dragging')
      },
      update: function(event, ui) {
        var params = collect_portal_layout_params();
        $.post('<%= url_for action: 'save_state' %>', params);
      }
    });
  });
</script>

<% if favorite_theme == 'simple' %>
  <% notes_active = (params[:tab].to_s == 'notes') %>
  <nav class="simple-tabstrip" role="tablist">
    <button type="button" class="simple-tab <%= 'simple-tab--active' unless notes_active %>" data-simple-tab="home">ホーム</button>
    <button type="button" class="simple-tab <%= 'simple-tab--active' if notes_active %>" data-simple-tab="notes">ノート</button>
  </nav>

  <div id="simple-home-panel" class="simple-tab-panel <%= 'simple-tab-panel--hidden' if notes_active %>">
    <div class="portal">
      <% @portal.portal_columns.each_with_index do |gadgets, i| %>
        <div id="column_<%= i %>" class="gadgets">
          <% gadgets.each do |g| %>
            <%= render g.class.name.underscore, gadget: g %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="notes-tab-panel" class="simple-tab-panel<%= ' simple-tab-panel--hidden' unless notes_active %>" role="tabpanel">
    <h2>ノート</h2>
    <p>ここにメモの一覧と入力欄が表示されます。</p>
  </div>
<% else %>
  <div class="portal">
    <% @portal.portal_columns.each_with_index do |gadgets, i| %>
      <div id="column_<%= i %>" class="gadgets">
        <% gadgets.each do |g| %>
          <%= render g.class.name.underscore, gadget: g %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
