<h2><%= t('two_factor.verification_title') %></h2>

<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>

<%= form_tag(users_two_factor_authentication_path, method: :post) do %>
  <p>
    <%= label_tag :otp_attempt, t('two_factor.code_label') %><br>
    <%= text_field_tag :otp_attempt, nil, autofocus: true, autocomplete: 'one-time-code' %>
  </p>
  <p>
    <%= submit_tag t('two_factor.verify_button') %>
  </p>
<% end %>
