<script>
  $(document).ready(function() {
    calendars.init_form();
  });
</script>

<%= form_for @calendar do |f| %>
  <%= f.hidden_field :user_id %>
  <table>
    <tr>
      <th><%= f.label :title %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :show_weather %></th>
      <td>
        <%= f.check_box :show_weather %>
        <%= f.select :prefecture_code, Prefecture::PREFECTURES.invert, :include_blank => true %>
      </td>
    </tr>
  </table>
  <%= f.submit %>
<% end %>
