<%= form_for @calendar do |f| %>
  <table>
    <tr>
      <th><%= f.label :user_id %></th>
      <td><%= f.text_field :user_id %></td>
    </tr>
    <tr>
      <th><%= f.label :title %></th>
      <td><%= f.text_field :title %></td>
    </tr>
  </table>
  <%= f.submit %>
<% end %>
