<%= form_with model: @user, url: preference_path(@user) do |f| %>
  <table class="preferences-table">
    <% if @user.has_valid_email? %>
      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name %></td>
      </tr>
    <% end %>

    <%= f.fields_for :preference_attributes, @user.preference do |f| %>
      <tr>
        <th><%= f.label :theme %></th>
        <td>
          <%= f.hidden_field :id %>
          <%= f.select :theme, { t('.theme_options.modern') => 'modern', t('.theme_options.classic') => 'classic', t('.theme_options.simple') => 'simple' } %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :locale %></th>
        <td><%= f.select :locale, Preference::LOCALE_OPTIONS, { include_blank: false, selected: @user.preference.locale } %></td>
      </tr>
      <tr>
        <th><%= f.label :font_size %></th>
        <td><%= f.select :font_size, Preference::FONT_SIZES.map { |size| [t(".font_size_options.#{size}"), size] }, selected: (@user.preference.font_size.presence || Preference::FONT_SIZE_MEDIUM) %></td>
      </tr>
      <tr>
        <th><%= f.label :open_links_in_new_tab %></th>
        <td><%= f.check_box :open_links_in_new_tab %></td>
      </tr>
      <tr>
        <th><%= f.label :use_todo %></th>
        <td><%= f.check_box :use_todo %></td>
      </tr>
      <tr>
        <th><%= f.label :default_priority %></th>
        <td><%= f.select :default_priority, Todo.priority_options %></td>
      </tr>
      <tr>
        <th><%= f.label :use_note %></th>
        <td><%= f.check_box :use_note %></td>
      </tr>
      <tr>
        <th><%= f.label :use_calendar %></th>
        <td><%= f.check_box :use_calendar %></td>
      </tr>
    <% end %>
    <tr>
      <th><%= t('two_factor.section_title') %></th>
      <td>
        <% if current_user.two_factor_enabled? %>
          <%= t('two_factor.status_enabled') %>
        <% else %>
          <%= t('two_factor.status_disabled') %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th></th>
      <td><%= link_to t('two_factor.setup_link'), users_two_factor_setup_path %></td>
    </tr>
  </table>
  
  <%= f.submit t('.submit') %>
<% end %>
