<%= form_for @todo do |f| %>
  <table>
    <tr>
      <th><%= f.label :priority %></th>
      <td><%= f.select :priority, Todo::PRIORITIES.invert %></td>
    </tr>
    <tr>
      <th><%= f.label :title %></th>
      <td><%= f.text_field :title %></td>
    </tr>
  </table>
  <%= f.submit %>
<% end %>
