<%= form_for @todo_import_form, :url => {:action => 'import'} do |f| %>
  <%= f.submit %>
  <table>
    <tr>
      <th>削除</th>
      <th>タイトル</th>
    </tr>
    <% @todo_import_form.todos.each_with_index do |t, i| %>
      <%= f.fields_for t, :index => i do |f| %>
        <tr>
          <td>
            <%= f.check_box :deleted %>
            <%= f.hidden_field :priority %>
            <%= f.hidden_field :title %>
          </td>
          <td><%= t.title %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
