<div class="actions">
  <%= link_to 'インポート', new_import_todos_path %>
</div>

<table>
  <tr>
    <th><%= Todo.human_attribute_name :priority %></th>
    <th><%= Todo.human_attribute_name :title %></th>
    <th></th>
  </tr>
  
  <% @todos.each do |t| %>
    <tr>
      <td><%= t.title %></td>
      <td>
        <%= link_to '削除', todo_path(t), :method => 'delete', :confirm => t('messages.confirm_delete', :name => t.title) %>
      </td>
    </tr>
  <% end %>
</table>
