<div class="header">
  <span>
    <%= link_to current_user.email, root_path if user_signed_in? %>
  </span>
  <span style="float: right;">
    <%= link_to 'ブックマーク', bookmarks_path %>
    |
    <%= link_to 'RSS', feeds_path %>
    |
    <%= link_to 'TODO', todos_path %>
    |
    <%= link_to 'ログアウト', destroy_user_session_path, :method => 'delete' if user_signed_in? %>
  </span>
</div>
