<div class="header">
  <script>
    function toggle_menu(trigger, menu) {
      menu.toggleClass('hidden');
      if (menu.is(':visible')) {
        menu.css('min-width', trigger.outerWidth() - 10);
        menu.position({my: 'right top', at: 'right bottom', of: trigger});
      }
    }

    $(document).ready(function() {
      var header = $('.header').first();
      var email = header.find('.email').first();
      var menu = header.find('.menu').first();

      email.click(function() {
        toggle_menu(email, menu);
      });

      menu.delegate('a', 'click', function() {
        if ($(this).attr('target') == '_blank') {
          toggle_menu(email, menu);
        }
      });
      
      $('html').click(function(e) {
        if ($(e.target).closest('.email').length == 0) {
          menu.addClass('hidden');
        }
      });
    });
  </script>
  <div>
    <ul class="navigation">
      <li><%= link_to t('nav.home'), root_path %></li>
      <% if current_user.preference&.use_note? %>
        <li><%= link_to t('nav.note'), root_path(tab: 'notes') %></li>
      <% end %>
      <li class="email">
        <a href="#"><%= current_user.display_name %><span style="font-size: 0.8em;"> ▼</span></a>
        <div class="menu hidden">
          <div><%= link_to t('nav.preferences'), preferences_path %></div>
          <div><%= link_to t('nav.bookmarks'), bookmarks_path %></div>
          <div><%= link_to t('nav.todos'), todos_path %></div>
          <div><%= link_to t('nav.feeds'), feeds_path %></div>
          <div><%= link_to t('nav.sign_out'), destroy_user_session_path, method: 'delete' %></div>
        </div>
      </li>
    </ul>
  </div>
</div>
