<div id="header">
  <div class="head-box<%= ' head-box--with-note-action' if drawer_ui? && current_user.preference&.use_note? %>">
    <div class="head-leading">
      <%= link_to root_path do %><%= image_tag '/icon.svg', alt: 'Bookmarks', class: 'header-icon' %><% end %>
      <%= link_to 'Bookmarks', root_path, class: 'head-title' %>
    </div>
    <% if drawer_ui? %>
      <span class="head-user-email"><%= current_user.display_name %></span>
      <div class="head-trailing-actions<%= ' head-trailing-actions--with-note' if current_user.preference&.use_note? %>">
        <% if current_user.preference&.use_note? %>
          <% on_welcome_notes = controller_name == 'welcome' && action_name == 'index' && params[:tab].to_s == 'notes' %>
          <%= link_to(on_welcome_notes ? root_path : root_path(tab: 'notes'),
                      class: "head-note-btn#{' head-note-btn--active' if on_welcome_notes}",
                      aria: { label: on_welcome_notes ? t('nav.note_return') : t('nav.note') }) do %>
            <%= render 'icons/note' %>
          <% end %>
        <% end %>
        <button class="hamburger-btn" aria-label="<%= t('nav.menu_aria') %>"></button>
      </div>
    <% end %>
  </div>
</div>
