<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://apis.google.com/js/api.js"></script>

  </head>

  <body class="<%= favorite_theme %>">
    <div id="header">
      <div class="head-box">
        <img src="/icon.svg" alt="Bookmarks" class="header-icon" />
        Bookmarks
      </div>
    </div>

    <div class="wrapper">
      <%= render 'common/menu' if user_signed_in? %>
      <%= yield %>
    </div>
  </body>
</html>
