<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Bookmarks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://apis.google.com/js/api.js"></script>

  </head>

  <body class="<%= [favorite_theme, font_size_class].join(' ') %>">
    <%= render 'layouts/header' %>

    <div class="wrapper">
      <%= render 'common/menu' if user_signed_in? && favorite_theme == 'simple' %>
      <% if flash[:notice].present? %>
        <div class="flash-message flash-notice" role="status">
          <span class="flash-message__body"><%= flash[:notice] %></span>
          <button type="button" class="flash-dismiss" aria-label="<%= t('flash.dismiss') %>" data-dismiss-flash></button>
        </div>
      <% end %>
      <% if flash[:alert].present? %>
        <div class="flash-message flash-alert" role="alert">
          <span class="flash-message__body"><%= flash[:alert] %></span>
          <button type="button" class="flash-dismiss" aria-label="<%= t('flash.dismiss') %>" data-dismiss-flash></button>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <% if drawer_ui? %>
      <div class="drawer">
        <nav>
          <%= link_to t('nav.home'), root_path %>
          <%= link_to t('nav.preferences'), preferences_path %>
          <%= link_to t('nav.bookmarks'), bookmarks_path %>
          <%= link_to t('nav.todos'), todos_path %>
          <%= link_to t('nav.feeds'), feeds_path %>
          <%= link_to t('nav.sign_out'), destroy_user_session_path, method: 'delete' %>
        </nav>
      </div>
      <div class="drawer-overlay"></div>
    <% end %>
  </body>
</html>
