<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Bookmarks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://apis.google.com/js/api.js"></script>

  </head>

  <body class="<%= [favorite_theme, font_size_class].join(' ') %>">
    <div id="header">
      <div class="head-box">
        <img src="/icon.svg" alt="Bookmarks" class="header-icon" />
        <%= link_to 'Bookmarks', root_path, class: 'head-title' %>
        <% if drawer_ui? %>
          <span class="head-user-email"><%= current_user.display_name %></span>
          <div class="head-trailing-actions<%= ' head-trailing-actions--with-note' if current_user.preference&.use_note? %>">
            <% if current_user.preference&.use_note? %>
              <%= link_to root_path(tab: 'notes'), class: 'head-note-btn', aria: { label: t('nav.note') } do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false">
                  <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
                  <polyline points="14 2 14 8 20 8" />
                  <line x1="16" y1="13" x2="8" y2="13" />
                  <line x1="16" y1="17" x2="8" y2="17" />
                  <line x1="10" y1="9" x2="8" y2="9" />
                </svg>
              <% end %>
            <% end %>
            <button class="hamburger-btn" aria-label="<%= t('nav.menu_aria') %>"></button>
          </div>
        <% end %>
      </div>
    </div>

    <div class="wrapper">
      <%= render 'common/menu' if user_signed_in? && favorite_theme == 'simple' %>
      <% if flash[:notice].present? %>
        <div class="flash-notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert].present? %>
        <div class="flash-alert"><%= flash[:alert] %></div>
      <% end %>
      <%= yield %>
    </div>
    <% if drawer_ui? %>
      <div class="drawer">
        <nav>
          <%= link_to t('nav.home'), root_path %>
          <%= link_to t('nav.preferences'), preferences_path %>
          <%= link_to t('nav.bookmarks'), bookmarks_path %>
          <%= link_to t('nav.todos'), todos_path %>
          <%= link_to t('nav.feeds'), feeds_path %>
          <%= link_to t('nav.sign_out'), destroy_user_session_path, method: 'delete' %>
        </nav>
      </div>
      <div class="drawer-overlay"></div>
    <% end %>
  </body>
</html>
